<p id="notice"><%= notice %></p>

<h1>Books</h1>

<table>
  <thead>
  <tr>
    <th class="header">Name</th>
    <th class="header">Description</th>
    <th class="header">Author</th>
    <th class="header">Price</th>
    <th class="header">Subject</th>

  </tr>
  </thead>

  <tbody>
  <% @books.each do |book| %>
    <tr>
      <td><%= book.name %></td>
      <td><%= book.description %></td>
      <td><%= book.author %></td>
      <td><%= book.price %></td>
      <td><%= book.subject.name rescue "" %></td>
      <td><%= link_to 'Show', book %></td>
      <td><%= link_to 'Edit', edit_book_path(book) %></td>
      <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', "/books/new",:style=>"color:red"%>


<style>

  .header{
    background: #666666;
  }

</style>